<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ab3d.DXEngine" version="7.1.9104" targetFramework="net48" />
  <package id="Ab3d.DXEngine.Wpf" version="7.1.9104" targetFramework="net48" />
  <package id="SharpDX" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net48" />
</packages>