<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ab3d.DXEngine.Wpf.Samples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="UseDirectXOverlay" value="false"/> <!-- Set to true to force using DirectXOverlay PresentationType - this enables using DirectX debugging and Graphics diagnostics tools  -->
    <!-- With setting the DXEngineGraphicProfile it is possible to set the used GraphicsProfile with changing config file. This way it is possible to force software or Wpf3D rendering (not that it is also possible to write only GraphicsProfile name - for example: "Wpf3D" -->
    <!-- <add key="DXEngineGraphicProfile" value="Name: NormalQualitySoftwareRendering; DriverType: DirectXSoftware; ShaderQuality: Normal; MultisampleCount: 2; TextureFiltering: Anisotropic_x2"/> -->
  </appSettings>
  <userSettings>
    <Ab3d.DXEngine.Wpf.Samples.Properties.Settings>
      <setting name="DXEngineGraphicProfile" serializeAs="String">
        <value/>
      </setting>
    </Ab3d.DXEngine.Wpf.Samples.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
